<html>
<body>
<h1> welcome to the world</h1>
<form action = "/todos" method="post">
<input type="text" name="description">
<button type="submit">add</button>
</form>
<ul>
    {{#todos}}
     <li>
     <form action="/todos/{{_id}}/completed" method="post">
     {{description}} - {{done}} <button type ="submit">done</button>
     </form>
     </li>
    {{/todos}}
</ul>
</body>
</html>